/* PortfolioContent.module.css */
.portfolio_content {
    margin: 60px auto;
    width: 100%;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pagination li {
    cursor: pointer;
    margin-left: 15px;
    padding: 5px;
    border-radius: 3px;
    opacity: 0.5;
    font-size: 14px;
    font-family: var(--font-secondary);
    font-weight: 400;
    transition: all 1s ease-in-out;
}

.pagination li:hover {
    opacity: 1;
}

.pagination li.active {
    color: var(--color-secondary);
    border-bottom: var(--color-secondary) 2px solid;
    opacity: 1;
}

.works {
    display: flex;
    flex-wrap: wrap;
}

.first_work {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 40px);
    height: calc(64px + 20vh);
    margin: 20px auto;
    background-color: var(--color-overlay);
    overflow: hidden;
    cursor: default;
}

@media (max-width: 767px) {
    .pagination{
        gap: 5px;
    }

    .pagination li{
        margin: 0;
    }
}