.resume_content{
    width: 100%;
    height: auto;
    margin: 60px auto;
    display: flex;
    gap: 40px;
    position: relative;
}

.resume_content .education,
.resume_content .experience{
    width: 50%;
    height: auto;
    position: relative;
    /* padding: 20px 40px; */
}

.resume_content .education{
    padding-left: 40px;
}
.resume_content .experience{
    padding-right: 40px;
}

.education::after,
.experience::after{
    content: '';
    position: absolute;
    top: 80px;
    height: 80%;
    width: 3px;
    background-color: var(--color-secondary);
}

.education::after{
    left: 0;
}

.experience::after{
    right: 0;
}

.header{
    position: relative;
    width: 100%;
    font-size: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.experience .year{
    right: 0 !important;
}

/* skills section */
.skills{
    width: 100%;
    height: auto;
    margin: 80px auto;
    display: flex;
    flex-wrap: wrap;
}
.skill{
    width: 45%;
    margin: 20px auto;
    position: relative;
}
.skill_head{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.skill_head h4{
    font-size: 14px;
    font-weight: normal;
}
.skill-head .pc{
    font-size: 14px;
    font-weight: normal;
    color: var(--color-secondary);
}
.skills .range{
    height: 15px;
    background-color: #777;
    border-radius: 1px;
    position: relative;
    border-radius: 5px;
}
.skills .range span{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1%;
    height: 100%;
    background-color: var(--color-secondary);
    border-radius: inherit;
    transition: 4s;
}
/* End Resume Content */

@media screen and (max-width:767px) {
    .resume_content{
        display: block;
        margin: 60px auto;
    }
    .header{
        font-size: 25px;
        top: -25px;
    }
    .resume_content .education,
    .resume_content .experience{
        width: 100%;
        padding: 40px 0;
        padding-left: 30px;    
    }
    .education::after,
    .experience::after{
        left: 14px;
    }
}