/* Start About Content */
.content_about {
    width: 100%;
    height: auto;
    margin: 60px auto;
    display: flex;
    cursor: default;
    overflow: hidden;
}

.content_about .left {
    width: 40%;
    height: inherit;
    background: url(../../assets/images/About/IMG_9347.JPG) 10%;
    background-size: cover;
    border-radius: 40px;
}

.content_about .right {
    width: 60%;
    height: 100%;
    padding: 30px 40px;
    line-height: 2;
}

/* Start old profile */
.right .question {
    color: var(--color-secondary);
    font-size: 18px;
}

.right h1 {
    font-size: 30px;
}

.right .answer {
    font-family: var(--font-secondary);
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--color-third);
}

.export {
    text-align: center;
}

.export a {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    font-size: clamp(14px, 1vw, 18px);
}

.btn_primary {
    background-color: var(--color-secondary);
    transition: .5s;
}

.btn_primary:hover,
.btn_primary:focus {
    opacity: .5;
}

/* End old profile */

/* Start new profile */
.card {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    max-width: 900px;
    margin: auto;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.details {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.detailItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.detailItem strong{
    color: var(--color-secondary);
    letter-spacing: 1px;
    font-size: clamp(12px, 1vw, 18px);
}

.detailItem {
    color: var(--color-third);
    font-family: var(--font-secondary);
    font-size: clamp(12px, 1vw, 18px);
    font-weight: 600;
}

.info .export{
    margin-top: 10px;
}

.expanded{
    color: var(--color-secondary);
    font-family: var(--font-secondary);
    font-size: clamp(12px, 1vw, 18px);
    font-weight: 400;
    margin-left: 5px;
    cursor: pointer;
    opacity: .8;
    transition: all .5s linear;
}
.expanded:hover{
    opacity: 1  ;
}

/* End new profile */
/* End About Content */

@media screen and (max-width:1200px) {
    .content_about .right {
        padding: 20px;
    }
}

@media screen and (max-width:767px) {
    .content_about {
        display: block;
    }

    .content_about .left {
        height: 40vh;
        width: 100%;
        background-position: 50% 30%;
    }

    .content_about .right {
        padding: 10px;
        width: 100%;
    }

    .right .answer {
        text-align: justify;
        font-size: 13px;
    }

    .right h1 {
        font-size: 16px;
        text-align: center;
    }

    .right .question {
        text-align: center;
    }

    .right .question {
        font-size: 12px;
    }

    .details{
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .info .export a{
        padding: 5px;
    }

    .services_box {
        padding: 25px 0;
    }

    .services_content .service {
        width: 100%;
        padding: 20px;
    }
}