.landing_page{
    height: 100vh;
    max-height:100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden !important;
}

.landing_img{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    opacity: .6;
    /* z-index: -1; */
    pointer-events: none;
    background: linear-gradient(to top, var(--color-bg) 40%, transparent), 
            repeating-linear-gradient(to left, var(--color-secondary), transparent 10px, var(--color-secondary) 20px);
    /* position: absolute;
    top: 50%;
    right: 100px;
    width: 400px;
    transform: translateY(-50%);
    aspect-ratio: 1;
    opacity: .4;
    z-index: -1;
    pointer-events: none;
    border-radius: 50%;
    background-color: var(--color-overlay);
    border: 10px solid var(--color-bg);
    overflow: hidden; */
}

.landing_img img{
    height: 100%;
    width: 100%;
    backdrop-filter: blur(1px);
}


/* End landing Page */

@media (max-width: 767px) {
    .landing_img{
        background: repeating-linear-gradient(to left, var(--color-secondary), transparent 10px, var(--color-secondary) 20px),
                    linear-gradient(to left, var(--color-bg) 10%, transparent 90%);
        mask: linear-gradient(to bottom, transparent 0,var(--color-overlay) 5%, transparent 90%);
    }
}