.landing_page{
    height: 100vh;
    max-height:100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden !important;
}

.landing_img{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    opacity: .2;
    z-index: -1;
    pointer-events: none;
    background: linear-gradient(to top, var(--color-bg) 45%, transparent), 
            repeating-linear-gradient(to left, var(--color-secondary), transparent 10px, var(--color-secondary) 20px);;
}

.landing_img img{
    height: 100%;
    width: 100%;
}


/* End landing Page */