.contact_content {
    width: 100%;
    height: 90vh;
    max-height: 100vh;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.contact_content .start {
    width: 30%;
    height: 100%;
}
.start .contact_info {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    height: 60%;
    z-index: 1002;
}
.contact_info .info {
    width: calc(50% - 4%);
    height: calc(50% - 4%);
    background-color: #222;
    margin: 2%;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
}
.info .info_icon {
    width: 100%;
    height: auto;
    text-align: center;
}
.info_icon i {
    font-size: 45px;
}
.info h4 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--color_secondary);
}
.info p {
    font-family: 'Poppins';
    font-size: 12px;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.contact_content .end {
    width: 70%;
    height: 100%;
    background-color: #111;
    position: relative;
}
.nv_message {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: auto;
    transform: translate(-50%, -50%);
}
.nv_message a {
    padding: 10px 20px;
    background-color: var(--color_secondary);
    border-radius: 2px;
    cursor: pointer;
    opacity: .5;
}
.nv_message a:hover {
    opacity: 1;
}
form {
    display: none;
    position: absolute;
    right: 8%;
    top: 50%;
    transform: translateY(-50%);
    width: 70%;
}
form h1 span {
    color: var(--color_secondary);
}
form input,
form textarea,
.input_group input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: #222;
    font-family: 'Poppins';
    font-size: 12px;
    outline: none;
    border: 1px solid #333;
    margin: 10px 0;
    opacity: .5;
    transition: .5s;
}
form textarea {
    max-height: 130px;
    margin-top: 20px;
}
form .input_group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.input_group input {
    width: calc(50% - 10px);
}
form .button_group {
    text-align: end;
}
.send_message {
    all: unset;
    background-color: var(--color_secondary);
    padding: 10px;
    opacity: .5;
    cursor: pointer;
    border-radius: 2px;
    transition: .5s;
}
.send_message:hover,
form input:hover,
form textarea:hover,
.input_group input:hover {
    opacity: 1;
}

@media screen and (max-width: 991px) {
    .contact_content {
        display: block;
        height: auto;
    }
    .contact_content .start {
        width: 100%;
        height: auto;
    }
    .start .contact_info {
        position: relative;
        transform: none;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto; 
    }
    .info {
        display: flex;
        height: 120px !important;   
        justify-content: center; 
        align-items: center;
        padding: 0 !important;
    }
    .info .info_icon {
        width: 30%;
    }
    .info div {
        width: 70%;
    }
    .info h4, .info p {
        text-align: start;
    }
    .contact_content .end {
        width: 100%;
        height: 75vh;
    }
    .end form {
        position: relative;
        transform: none;
        width: 70%;
        margin: auto;
        right: unset;
        top: unset;
        padding: 50px 0;
    }
    form .button_group {
        text-align: end;
    }
    form .send_message {
        float: unset;
    }
}

@media screen and (max-width: 767px) {
    .contact_info .info {
        height: 90px !important;
    }
    .info_icon i {
        font-size: 30px;
    }
}

.active{
    display: block !important;
}