.contact_content {
    width: 100%;
    height: 90vh;
    max-height: 100vh;
    margin-top: 60px;
    position: relative;
}

.end {
    /* width: 70%;
    height: 100%; */
}

.contact_info {
    width: 40%;
    height: auto;
    margin-inline: auto;
}
.contact_info .info {
    background-color: var(--color-overlay);
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.info .info_icon {
    aspect-ratio: 1;
    text-align: center;
}
.info_icon i {
    font-size: 45px;
}
.info h4 {
    text-align: center;
    margin-bottom: 10px;
    color: var(--color_secondary);
}
.info p {
    font-family: var(--font-secondary);
    font-size: 12px;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.start {
    background-color: var(--color-third);
    position: relative;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}

.nv_message {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: auto;
    transform: translate(-50%, -50%);
}
.nv_message a {
    padding: 10px 20px;
    background-color: var(--color_secondary);
    border-radius: 2px;
    cursor: pointer;
    opacity: .5;
}
.nv_message a:hover {
    opacity: 1;
}

/* start header section */
.header_section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 20px 40px;
}

.header_section h1 {
    font-size: 28px;
}

.header_section h1 span {
    color: var(--color-secondary);
}

.header_section .form_description {
    font-size: 14px;
    font-family: var(--font-secondary);
}

/* end header section */

/* start contact form */
.contact_form {
    display: none;
    width: 100%;
    max-width: 100%;
    padding: 20px 40px;
    background-color: var(--color-third);
    border-radius: 8px;
}

.contact_form h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 5px;
}

.contact_form h1 span {
    color: var(--color-secondary);
}

.contact_form input,
.contact_form textarea {
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: var(--color-overlay);
    font-family: var(--font-secondary);
    font-size: clamp(10px, 2vw, 14px);
    outline: none;
    border: 1px solid #333;
    margin: 10px 0;
    opacity: .5;
    transition: .5s;
}

.contact_form textarea {
    max-height: 150px;
    resize: none;
    margin-top: 20px;
}

.contact_form .form_group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.form_group input {
    width: calc(50% - 10px);
}

.contact_form .button_group {
    text-align: end;
}

.send_button {
    all: unset;
    background-color: var(--color-secondary);
    padding: 10px;
    opacity: .5;
    cursor: pointer;
    border-radius: 2px;
    transition: .5s;
}

.send_button:hover,
form input:hover,
form textarea:hover{
    opacity: 1;
}

.error_message {
    color: red;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
}


/* end contact form */

@media screen and (max-width: 991px) {
    .contact_content {
        display: block;
        height: auto;
    }
    .start {
        width: 100%;
        height: auto;
    }
    .contact_info {
        position: relative;
        transform: none;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto; 
    }
    .info {
        display: flex;
        height: 120px !important;   
        justify-content: center; 
        align-items: center;
        padding: 0 !important;
    }
    .info .info_icon {
        width: 30%;
    }
    .info div {
        width: 70%;
    }
    .info h4, .info p {
        text-align: start;
    }
    .end {
        width: 100%;
        height: 75vh;
    }
    .contact_form {
        position: relative;
        transform: none;
        width: 70%;
        margin: auto;
        right: unset;
        top: unset;
        padding: 50px 0;
    }
    .contact_form .button_group {
        text-align: end;
    }
    .contact_form .send_message {
        float: unset;
    }
}

@media screen and (max-width: 767px) {
    .contact_info .info {
        height: 90px !important;
    }
    .info_icon i {
        font-size: 30px;
    }
}

.active{
    display: block !important;
}