.contact_content {
    width: 100%;
    max-height: 100vh;
    margin: 60px auto;
    position: relative;
}

.container {
    background-color: var(--color-third);
    position: relative;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

/* start header section */
.header_section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 10px 20px;
}

.header_section h1 {
    font-size: clamp(20px, 2vw, 28px);
    display: flex;
    align-items: center;
}

.header_section h1 span {
    color: var(--color-secondary);
}

.header_section .form_description {
    font-size: clamp(14px, 2vw, 18px);
    font-family: var(--font-secondary);
    font-weight: 600;
    color: #777;
}

/* end header section */

@media screen and (max-width: 991px) {
    .contact_content {
        display: block;
        height: auto;
    }
    .container {
        width: 100%;
        height: auto;
    }
    .contact_info {
        position: relative;
        transform: none;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto; 
    }
    .contact_form {
        position: relative;
        transform: none;
        width: 70%;
        margin: auto;
        right: unset;
        top: unset;
        padding: 50px 0;
    }
    .contact_form .button_group {
        text-align: end;
    }
    .contact_form .send_message {
        float: unset;
    }
}

@media screen and (max-width: 767px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        padding: 10px 0;
    }
    .header_section{
        gap: 15px;
    }
}