/* Start NavBar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 999;
}
/* End NavBar */

/* Start Header Area */
.header_area {
    display: flex;
    justify-content: space-between;
}
.links {
    display: flex;
    align-items: center;
    position: relative;
    gap: 25px;
}
.links .linkItem {
    cursor: pointer;
}

.links .linkItem a{
    transition: color 0.5s;
}
.links .linkItem:hover a,
.links .active {
    color: var(--color-secondary);
}
/* End Header Area */
