.stroke{
  display: none;
  position: fixed;
  top: 30px;
  left: 50%;
  width: 40%;
  transform: translateX(-50%);
  background: linear-gradient(10deg, var(--color-text), transparent);
  padding: 1px;
  animation: move 1s 1 linear;
  border-radius: 20px;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--color-bg);
  padding: 8px 0;
  border-radius: inherit;
}

@keyframes move {
  0% {
    transform: translate(-50%, 10px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: all 1s ease;
}

.navItem svg {
  transition: all 1s ease;
}

.navItem:hover svg,
.navItem:hover .label,
.active svg,
.active .label {
  stroke: var(--color-secondary);
  color: var(--color-secondary);
}

.label {
  font-size: 12px;
  margin-top: 4px;
  transition: all 1s ease;
}

.show{
  display: block;
}

@media screen and (max-width: 768px) {
  .stroke {
    display: block;
    width: 80%;
  }
}