.solarSystem {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  /* overflow: hidden; */
  /* background: rgba(10, 10, 10, .4); */
  background: radial-gradient(circle at center, var(--color-overlay), transparent);
  transform: translateX(1px);
}

.sun {
  width: 50px;
  height: 50px;
  background: radial-gradient(circle at center, var(--color-sun), transparent);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* box-shadow: 0 0 0px var(--color-sun), 0 0 100px rgba(255, 140, 0, 0.5); */
  z-index: 10;
  animation: sun 5s linear infinite;
  animation-play-state: var(--animation-state);
}

@keyframes sun {
  from {
    box-shadow: 0 0 0 var(--color-sun), 0 0 50px orange;
  }
  to {
    box-shadow: 0 0 150px var(--color-sun), 0 0 100px blue;
  }
}

.planetOrbit {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px dashed rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transform:  rotate(0deg) translate(-50%, -50%);
  animation: orbit 10s linear infinite;
  animation-play-state: var(--animation-state);
}

@keyframes orbit {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

/* الكوكب */
.planet {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: auto;
  height: 70px;
  transform-origin: center;
  transform: translate(var(--orbit-distance), calc(-50% + 20px));
  animation: planet var(--orbit-duration) linear infinite;
  animation-play-state: var(--animation-state);
}

@keyframes planet {
  from {
    transform: rotate(0deg) translateX(var(--orbit-distance)) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(var(--orbit-distance)) rotate(-360deg);
  }
}

.icon {
  width: 100%;
  height: 100%;
}

.tooltip {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-secondary);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  z-index: 10;
  pointer-events: none;
}
